@charset "UTF-8";

body{
    margin: 0px;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

nav {
    padding-left: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav > a {
    text-decoration: none;
    padding: 5px;
}
nav:hover > a {
    color: black;
}

.menusuperior {
    border: 2px red solid;
    background-color: #06AA48;
    padding-left: 300px;
    margin: 0px;
    color: white;
}

.menu {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.nomemenu {
    display: inline-block;
    text-decoration: none;
}

.escudotime {
    display: inline-block;
    color: white;
}

a:hover > div.menuescondido{
    display: block;
}

.menuescondido {
    display: none;
    background-color: blueviolet;
}

.nometime {
    display: inline-block;
    color: white;
}

.gecentral {
    display: inline-block;
    padding: 0px 400px;
    color: white;
}

.buscar{
    border: 2px green solid;
    display: inline-block;
    background-color: #05913D;
}

.lupa {
    border: 2px green solid;
    display: inline-block;
}

.buscarlupa {
    border: 2px green solid;
    display: inline-block;
}

.perfil {
    border: 2px green solid;
    display: inline-block;
}

.imagemperfil {
    border: 2px green solid;
    display: inline-block;
}

.nomeusuario {
    border: 2px green solid;
    display: inline-block;
}