@charset "UTF-8";

body {
    background-color: rgb(62, 46, 182);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1 {
    color: rgb(32, 106, 106);
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}