@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "Android";
    src: url(fontes/idroid.otf);
}

:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--cor1);
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
}

header > h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    padding: 10px;
    font-size: 2em;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.497);
}

header p {
    color: white;
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
    font-size: 1em;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.485);
}

nav {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
    padding: 7px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.374);
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    margin: 3px;
    padding: 5px;
    border-radius: 6px;
}

nav a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
    transition: 0.5s;
}

main {
    background-color: white;
    width: 75%;
    margin: auto;
    padding: 10px 20px;
}

main h1 {
    font-family: "Android";
    color: var(--cor4);
    font-size: 1.5em;
    padding: 10px;
}
main p {
    padding: 10px 0px;
    text-align: justify;
    text-indent: 16px;
}

main h2 {
    font-family: "Android";
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor0), transparent);
    padding-left: 10px;
}

.dandroids {
    width: 100%;
}

.irina {
    width: 100%;
}

#bugdroid{
    text-align: center;
}

.bugdroid {
    max-width: 250px;
}

.video {
    background-color: var(--cor5);
    width: 100%;
    padding: 20px;
    margin: -20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

aside {
    background-color: var(--cor0);
    margin-top: 15px;
    border-radius: 10px;
    padding: 10px;
}

aside h3 {
    background-color: var(--cor2);
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    margin: -10px;
    margin-bottom: 5px;
    color: white;
}

aside ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: "\2714";
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 2px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: #3ddc84;
}

strong {
    color: var(--cor4);
}

main a {
    color: var(--cor4);
    text-decoration: none;
    font-weight: bolder;
    padding: 2px;
    border-radius: 3px;
}

main a::after{
    content: "\1F517";
}

main a:hover{
    background-color: var(--cor2);
    color: var(--cor4);
    transition: 0.5s;
}