@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    height: 100vh;
    background: url(../imagens/fundo-madeira.jpg) no-repeat center top fixed;
    background-size: cover;
}

section#telefone {
    width: 311px;
    height: 625px;
    background: url(../imagens/frame-iphone.png) no-repeat;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#tela {
    background: url(../imagens/tela-home.jpg) no-repeat;
    background-size: cover;
    position: relative;
    top: 79px;
    left: 21px;
    width: 269px;
    height: 473px;
}

#menu {
    text-align: right;
}

#menu img {
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.774);
    box-sizing: border-box;
}

#menu img:hover {
    border: 2px solid lightgray;
    transform: translate(-3px, -3px);
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.808);
    transition: 0.3s;
}