@charset "UTF-8";

body{
    background-color: #454545;
    color: black;
}

main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 2.5%;
    align-items: center;
    border-radius: 2%;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 34px;
    color: #B8860B;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: #7D5C08;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: justify;
    width: 400px;
    padding-left: 5px;
}

ul{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
}

a{
    color: black;
    font-weight: bold;
}

.bloco1{
    display: inline-block;
    padding: 5px;
}

.bloco2{
    display: inline-block;
    padding: 5px;
}

.caixa{
    background-color: #DEDEDE;
    margin-bottom: 10px;
    border-radius: 8px;
}